img{
  width: 335px;
  height: 335px;
}

.App {
  text-align: center;
}

.App-header {
  width: 100%;
  height: 15%;
  margin-bottom: 5%;
}

.App-link {
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
}

.Main {
  width: 100%;
  height: auto;
}

.App-icon {
  color: black;
  font-size: 45px;
}

.input {
  height: 45px;
  width: 300px;
  border-bottom-left-radius: 16px;
  border-start-start-radius: 16px;
  border-color: white;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04)
}

input[type=text] {
  padding: 15px 22px;
  box-sizing: border-box;
}

.btn-input {
  width: 230px;
  height: 45px;
  background-color: #431161;
  color: white;
  font-weight: bold;
  border-bottom-right-radius: 16px;
  border-start-end-radius: 16px;
  border-color: white;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.btn {
  width: 230px;
  height: 45px;
  background-color: #431161;
  color: white;
  font-weight: bold;
  border-radius: 16px;
  border-color: white;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.ctl-details {
  width: 100%;
  height: auto;
}

.ctl-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20%;
  margin-bottom: 10%;
  margin-top: 5%;
}

.img {
  width: 200px;
  height: 220px;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.ctl-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

